@page "/stores/{id:guid}/edit"
@using StoreMap.Data.Dtos
@using StoreMap.Data.Enums
@using StoreMap.Logic.ServiceContracts
@inject IStoreService storeService

@if (store == null)
{
    <Spin size="large" />
    return;
}

<CascadingValue Value="this">
    <MapEdit Store="@store"/>
    <Divider />

    <StoreItemList Store="@store"/>

    <Button Type="primary" Size="large" Block @onclick="@Save">Save</Button>
</CascadingValue>

@code {
    private StoreDto store;
    public ShapeObjectAction MapAction = ShapeObjectAction.Create;

    [Parameter] public Guid Id { get; set; }

    protected override async Task OnInitializedAsync()
    {
        store = await storeService.GetStore(Id);
    }

    public void Update()
    {
        StateHasChanged();
    }

    private void Save()
    {
        storeService.SaveStore(store);
    }
}
