@page "/"
@using Microsoft.Extensions.Configuration
@using System.Web
@inject NavigationManager Navigation
@inject SignOutSessionStateManager SignOutManager
@inject IConfiguration Configuration

<AuthorizeView>
    <Authorized>
        Hello, @context.User.Identity.Name!
        @foreach (var claim in context.User.Claims)
        {
            <p>@claim.Type : @claim.Value</p>
        }
        <button class="nav-link btn btn-link" @onclick="BeginSignOut">
            Log out
        </button>
    </Authorized>
    <NotAuthorized>
        <a href="authentication/login">Log in</a>
    </NotAuthorized>
</AuthorizeView>

@code {
    private async Task BeginSignOut(MouseEventArgs args)
    {
        await SignOutManager.SetSignOutState();
        var authConfig = Configuration.GetSection("Local");
        
        Navigation.NavigateTo($"{authConfig["Authority"]}/v2/logout" +
                              $"?client_id={authConfig["ClientId"]}" +
                              $"&returnTo={HttpUtility.HtmlEncode(Navigation.BaseUri)}authentication/logout");
    }
}
