@inherits LayoutComponentBase

<Layout>
    <NavMenu />
    <Layout>
        <Header class="site-layout-sub-header-background"></Header>
        <Content class="site-content">
            <div class="site-layout-background">
                @Body
            </div>
        </Content>
    </Layout>
</Layout>

<style>
    #components-layout-demo-responsive .logo {
        height: 32px;
        background: rgba(255, 255, 255, 0.2);
        margin: 16px;
    }

    .site-layout-sub-header-background {
        background: #fff;
        padding: 0;
    }
    
    .site-content {
        margin: 24px 16px 0;
    }

    .site-layout-background {
        background: #fff;
        padding: 24px; 
        min-height: 360px
    }
</style>