@inject NavigationManager navigationManager

<Sider Breakpoint="@BreakpointType.Lg"
       CollapsedWidth="0">
    <div class="logo"></div>
    <Menu Theme="MenuTheme.Dark" Mode="MenuMode.Inline" DefaultSelectedKeys=@(new[]{currentUrl})>
        <MenuItem Key="">
            <NavLink href="" Match="NavLinkMatch.All">
                <Icon Type="user" Theme="outline"/>
                <span class="nav-text">Home</span>
            </NavLink>
        </MenuItem>
        <MenuItem Key="map">
            <NavLink href="map">
                <Icon Type="user" Theme="outline" />
                <span class="nav-text">Map</span>
            </NavLink>
        </MenuItem>
    </Menu>
</Sider>

@code {
    private string currentUrl => navigationManager.ToBaseRelativePath(navigationManager.Uri);
}
